.jumbotron{
    background-color: darkslateblue;
    color:white;
    font-weight: bold;
    margin-top: 6%;
    border-color:red;
}
#register .container{
    border-color:red;
    
}
.form-group a{
    text-decoration: none;
    text-align-last: center;
}


/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.form-group label{
    color: black;
    font-weight: 500;
}

.form-group input{
    font-weight:300;
    
}

thead th{
    font-weight: 400;
}
table tbody tr:hover{
    background-color:#fffbf2;
}
input.invalid{
    border-color: red;
}

.form-group #error_msg{
    /* padding:6px;
    background-color: #f08080;
    color:white; */
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.form-group #register{
    width: 100%;
}

#error{
    text-align: center;
    font-weight: bolder;
    color:red;
}

.jarallax {
    height: 700px;
  }

  @media (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
      height: 100vh;
    }
  }

  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
      height: 100vh;
    }
  }

  @media (min-width: 560px) and (max-width: 650px) {
    header .jarallax h1 {
      margin-bottom: 1.5rem !important;
    }
    header .jarallax h5 {
      margin-bottom: 1.5rem !important;
    }
  }