<app-navbar></app-navbar>
<br>
<br>

<form #form="ngForm">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div >
                <div id="post">
    
                    <mdb-card>
                        <mdb-card-body>
    
                          <mdb-card-title>
                           
                              <div class="row">
                                <div class="col-md-5">
                                  <label><b><a routerLink="/Profile/{{service.formData.UserId}}"> {{ service.formData.PostBy }}</a> </b></label>

                                </div>
                                <div class="col-md-6"></div>
                                <div id="postOption" class="col-md-1 text-center" (click)="optionClicked()"><h4><i  class="fa fa-ellipsis-h" aria-hidden="true"></i></h4></div>
                              </div>
                              
                          </mdb-card-title>
    
                          <mdb-card-text>  
                            <div class="form-group">
                            <p>{{ service.formData.PostPrivacy }}</p>
                            </div>
                            <div class="form-group">
                                <p>{{ service.formData.PostBody }}</p>
                            </div>
                            <div class="form-group">
                                <table>
                                    <tr id="btnPost">
                                        <td id="">
                                            <button class="" name="Like" (click)="checkId(service.formData.PostId)"
                                            type="button" >Like</button>
                                        </td>
                                        <td id="LikeBtn"><a routerLink="/Post-Details/{{service.formData.PostId}}"><button type="button">Comment</button></a></td>
                                        <td id="LikeBtn"><button type="button">Share</button></td>
                                    </tr>
                                </table>
                            </div>
                          </mdb-card-text>
    
                        </mdb-card-body>
                      </mdb-card>
                </div>
                <br>
            </div>
        </div>
    </div>
  </form>

  <mdb-card *ngFor="let comment of service.comments">
    <mdb-card-body>
  
     
      <mdb-card-title>
        <h4>{{comment.CommentBy}}</h4>
      </mdb-card-title>
  
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
