<title>Post Details | WT</title>

<app-navbar></app-navbar>
<br>
<br>

<form #form="ngForm" *ngIf="error != 'hasError'">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div *ngFor="let like of service.likes">
            <div *ngIf="service.formData.PostId == like.PostId">
              {{count()}}
            </div>
          </div>

          <div *ngFor="let comment of service.comments" >
            <p *ngIf="service.formData.PostId==comment.PostId">
              {{commented()}}
            </p>
          </div>
            <div >
                <div id="post">
    
                    <mdb-card>
                        <mdb-card-body>
    
                          <mdb-card-title>
                           
                              <div class="row">
                                <div class="col-md-5">
                                  {{getAgoTime(service.formData.PostDate)}}
                                  <label><b><a routerLink="/Profile/{{service.formData.UserId}}"> {{ service.formData.PostBy }}</a> </b></label>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Public'"> <i class="fa fa-globe" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Friends'"><i class="fa fa-users" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Only Me'"><i class="fa fa-lock" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-1" *ngIf="error != 'hasError'">
                                    

                                  <ul class="nav navbar-nav nav-flex-icons ml-auto">

                                    <!-- Dropdown -->
                                    <li class="nav-item dropdown">
                                      <a class="nav-link waves-effect" id="" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                       
                                        <span class="d-none d-md-inline-block" (click)="getPostById(service.formData.PostId)"><h4><i class="fa fa-ellipsis-h" aria-hidden="true"></i></h4></span>
                                      </a>

                                      <div class="dropdown-menu dropdown-menu-left dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                        <a *ngIf="service.formData.UserId == userid" class="dropdown-item" (click)="updateModal.show()">
                                          <span >Edit</span>
                                        </a>
                                        <a *ngIf="service.formData.UserId == userid" class="dropdown-item" (click)="deletePost()">
                                          <span>Delete</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                          <span>Save</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                          <span>Report</span>
                                        </a>
                                        
                                        <!-- <a class="dropdown-item" href="#">
                                          <span></span>
                                        </a> -->
                                      </div>
                                    </li>
                                    
                                  </ul>

                              
                              </div>
                              </div>
                              
                          </mdb-card-title>
    
                          <mdb-card-text>  
                           
                            <div class="form-group">
                                <p id="pbody">{{ service.formData.PostBody }}</p>
                                <div class="row">
                                 
                                  <div class="col-md-12">
                                    <a routerLink="/Imageview" target="_blank"><img id="pimg" *ngIf="service.formData.Attachment!=null" [src]="service.formData.Attachment" (click)="getImage(service.formData.Attachment)"></a>

                                  </div>
                                 
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1" *ngIf="c>0">
                               
                                  <b><i id="thumbs" class="fa fa-thumbs-up" aria-hidden="true"></i>  {{c}} </b>
                               
                              </div>
                              <div class="col-md-1" *ngIf="comment_count>0">
                               
                                  <b><i id="comment" class="fa fa-comment-o" aria-hidden="true"></i> {{comment_count}} </b>
                               
                              </div>
                              <div class="col-md-4"></div>
                            </div>

                          <div *ngFor="let like of service.likes">
                            <p *ngIf="service.formData.PostId==like.PostId && like.UserId==userid">
                              {{liked()}}
                            </p>
                          </div>
                            <div class="form-group">
                                <table>
                                    <tr id="btnPost">
                                        <td id="">
                                            <button class="" name="Like" (click)="LikeClicked(service.formData.PostId)"
                                            type="button" id={{txt}} >Like</button>
                                        </td>
                                        <td id="LikeBtn"><a routerLink="/Post-Details/{{service.formData.PostId}}"><button type="button">Comment</button></a></td>
                                        <td id="LikeBtn"><button type="button">Share</button></td>
                                    </tr>
                                </table>
                            </div>
                          </mdb-card-text>
                          <form #form="ngForm" (submit)="CommentSubmit(form)">
                            <div class="row">
                              <div class="col-md-10">
                                <div class="input-group mb-3">
                                  <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Comment</span>
                                  </div> -->
                                  <input type="text" id="CommentBody" class="form-control"
                                  placeholder="Write a comment...."
                                  name="CommentBody" #CommentBody="ngModel" [(ngModel)]="service.comment.CommentBody" /> 
                                </div>
                              </div>
                              <div class="col-md-1" *ngIf="service.comment.CommentBody !=''">
                                <button type="submit" class="btn btn-sm">Comment</button>
                              </div>
                              <div class="col-md-1"></div>
                            </div>
                          </form>
                        </mdb-card-body>
                       
                        <mdb-card-body *ngFor="let comment of service.comments">
                          <mdb-card-title>
                            <a routerLink="/Profile/{{comment.C_UserId}}">{{comment.CommentBy}}</a>
                           
                          </mdb-card-title>
                      
                          <mdb-card-text>
                             {{getAgoTime(comment.CommentDate)}}
                            <p id="agoTime"><i  class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                            {{comment.CommentBody}}
                
                           
                            <div class="form-group">
                              <table>
                                  <tr id="btnPost">
                                      <td id="">
                                          <button class="" name="Like" class="btn btn-sm" (click)="checkId(service.formData.PostId)"
                                          type="button">Like</button>
                                      </td>
                                      <td id="LikeBtn"><button type="button" class="btn btn-sm">Reply</button></td>
                                  </tr>
                              </table>
                          </div>
                          </mdb-card-text>
                        </mdb-card-body>
                      </mdb-card>
                </div>
                <br>
                  {{unliked()}}
                  {{reset()}}
                  {{ckreset()}}
                  {{comment_reset()}}
            </div>
            
        </div>
        <div class="col-md-2"></div>
    </div>
  </form>


  <!-- <div class="row" *ngIf="error != 'hasError'">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mdb-card>
        <br>
        <form #form="ngForm" (submit)="CommentSubmit(form)">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <textarea type="text" id="CommentBody" class="form-control form-control-sm"
              placeholder="Write a comment...."
              name="CommentBody" #CommentBody="ngModel" [(ngModel)]="service.comment.CommentBody" style="resize: none;"></textarea>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-sm">Comment</button>
            </div>
          </div>
        </form>
        
        <br>
        <mdb-card-body *ngFor="let comment of service.comments">
          <mdb-card-title>
            <a routerLink="/Profile/{{comment.C_UserId}}">{{comment.CommentBy}}</a>
           
          </mdb-card-title>
      
          <mdb-card-text>
             {{getAgoTime(comment.CommentDate)}}
            <p id="agoTime"><i  class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
            {{comment.CommentBody}}

           
            <div class="form-group">
              <table>
                  <tr id="btnPost">
                      <td id="">
                          <button class="" name="Like" class="btn btn-sm" (click)="checkId(service.formData.PostId)"
                          type="button">Like</button>
                      </td>
                      <td id="LikeBtn"><button type="button" class="btn btn-sm">Reply</button></td>
                  </tr>
              </table>
          </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    
    </div>
    <div class="col-md-2"></div>
  </div> -->

  <br><br>
  <div  class="row" *ngIf="error == 'hasError'">
      <div class="col-md-3"></div>
      <div id="err" class="col-md-6 text-center">
          <h3>
              Oppsss... Something bad happened!
          </h3>
      </div>
      <div class="col-md-3"></div>
  </div>


  <div id="modal" mdbModal #updateModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel"
  aria-hidden="true">
 <div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
     <div class="modal-dialog modal-full-height modal-top" role="document">
       <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
            <span aria-hidden="true">X</span>
          </button>
           <h4 class="modal-title w-100" id="myModalLabel">Update Post</h4>
         </div>
         <div class="modal-body">
          <form #formPostSubmit="ngForm" (submit)="onSubmit(formPostSubmit)" *ngIf="error != 'hasError'">
            
              <label><b>{{Name}} </b> </label>
              <label *ngIf="service.editData.PostPrivacy=='Public'"> <i id="postprivacy" class="fa fa-globe " aria-hidden="true"></i></label>
              <label *ngIf="service.editData.PostPrivacy=='Friends'"><i id="postprivacy" class="fa fa-users" aria-hidden="true"></i></label>
              <label *ngIf="service.editData.PostPrivacy=='Only Me'"><i id="postprivacy" class="fa fa-lock" aria-hidden="true"></i></label>

        
              <select class="form-control form-control-sm " name="PostPrivacy"
                    id="privacy" #PostPrivacy="ngModel" [(ngModel)]="service.editData.PostPrivacy">
                      <option Value="Public">Public</option>
                      <option *ngFor="let PostPrivacy of PrivacyList"   Value="{{PostPrivacy}}">{{PostPrivacy}} </option>
                    </select>
              <div class="md-form form-sm">
                <textarea type="text" id="PostBody" class="md-textarea form-control form-control-sm" rows="4"
                  name="PostBody" #PostBody="ngModel" [(ngModel)]="service.editData.PostBody"
                  placeholder="What's on your mind?">
               </textarea>
              </div> 
              <div class="row">
                <div class="col-md-2">
                  <input id="file" type="file" class="form-control" (change)="onFileChange($event)"/>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7"><img [src]="service.editData.Attachment" *ngIf="service.editData.Attachment" style="height: 200px; width:400px">    
                </div>
                <div class="col-md-2" *ngIf="service.editData.Attachment">
                  <button type="button" class="" aria-label="Close" (click)="CloseImg()">
                    <span aria-hidden="true">x</span>
                  </button>
                </div>
              </div>          
        </form>
          
        </div>
        <div class="modal-footer">
          <!-- <button type="button" mdbBtn color="secondary" class="waves-light btn-sm" aria-label="Close" (click)="updateModal.hide()" mdbWavesEffect>Cancle</button> -->
          <button [disabled]="service.editData.PostBody =='' && !service.editData.Attachment" type="button" mdbBtn color="primary" class="relative waves-light btn-sm" mdbWavesEffect (click)="updatePost()">Update</button>
        </div>
      </div>
    </div>
  </div>
  </div>
   <div class="col-md-3"></div>
 </div> 