#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }
  #agoTime{
    font-size: 10px;
    margin-left: 5px;
}

#privacy{
  width:90px;
}

#privacyTxt{
  font-size: 12px;
  color:rgb(124, 124, 124);
}


#Liked{
  background-color:Green;
  color: red;
  font-weight: bolder;
}

#thumbs{
  color:springgreen;
}
#comment{
  color:springgreen;
}

#err{
  color:white;
  background-color: coral;
  padding:20px;
}