#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }
  #agoTime{
    font-size: 10px;
    margin-left: 5px;
}

#privacy{
  width:90px;
}

#privacyTxt{
  font-size: 12px;
  color:rgb(124, 124, 124);
}


#Liked{
  background-color:Green;
  color: red;
  font-weight: bolder;
}

#thumbs{
  color:springgreen;
}
#comment{
  color:springgreen;
}

#err{
  color:white;
  background-color: coral;
  padding:20px;
}

.modal-dialog {
  /* width: 800px; */
  height: 700px;
}

.modal-header {
  background-color: #337AB7;
  padding:16px 16px;
  color:#FFF;
  border-bottom:2px dashed #337AB7;
}

#postmaker{
   border-radius: 60px;
   padding-top: 15px;
   padding-left: 25px;
   padding-right: 25px;
}

#modal{
   margin-top: 80px;
}
textarea{
   color:indigo;
   resize: none;
}
.relative{
   width:100%;
}

h4 i{
  padding: 10px 10px;
  border-radius: 40px;
}
h4 i:hover{
  background-color:#CFD8DC;
}