<app-navbar></app-navbar>
<br>
<br>

<form #form="ngForm">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div *ngFor="let like of service.likes">
            <div *ngIf="service.formData.PostId == like.PostId">
              {{count()}}
            </div>
          </div>
            <div >
                <div id="post">
    
                    <mdb-card>
                        <mdb-card-body>
    
                          <mdb-card-title>
                           
                              <div class="row">
                                <div class="col-md-5">
                                  {{getAgoTime(service.formData.PostDate)}}
                                  <label><b><a routerLink="/Profile/{{service.formData.UserId}}"> {{ service.formData.PostBy }}</a> </b></label>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Public'"> <i class="fa fa-globe" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Friends'"><i class="fa fa-users" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                  <p id=privacyTxt *ngIf="service.formData.PostPrivacy=='Only Me'"><i class="fa fa-lock" aria-hidden="true"></i> {{ service.formData.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
                                </div>
                                <div class="col-md-6"></div>
                                <div id="postOption" class="col-md-1 text-center" (click)="optionClicked()"><h4><i  class="fa fa-ellipsis-h" aria-hidden="true"></i></h4></div>
                              </div>
                              
                          </mdb-card-title>
    
                          <mdb-card-text>  
                           
                            <div class="form-group">
                                <p>{{ service.formData.PostBody }}</p>
                            </div>
                            <div class="col-md-1" *ngIf="c>0">
                                     
                              <b><i id="thumbs" class="fa fa-thumbs-up" aria-hidden="true"></i>  {{c}} </b>
                           
                          </div>
                            <div class="form-group">
                                <table>
                                    <tr id="btnPost">
                                        <td id="">
                                            <button class="" name="Like" (click)="checkId(service.formData.PostId)"
                                            type="button" >Like</button>
                                        </td>
                                        <td id="LikeBtn"><a routerLink="/Post-Details/{{service.formData.PostId}}"><button type="button">Comment</button></a></td>
                                        <td id="LikeBtn"><button type="button">Share</button></td>
                                    </tr>
                                </table>
                            </div>
                          </mdb-card-text>
    
                        </mdb-card-body>
                      </mdb-card>
                </div>
                <br>
                <!-- {{unliked()}} -->
                  {{reset()}}
                  {{ckreset()}}
                  <!-- {{comment_reset()}} -->
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
  </form>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mdb-card>
        <br>
        <form #form="ngForm" (submit)="CommentSubmit(form)">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <textarea type="text" id="CommentBody" class="form-control form-control-sm"
              placeholder="Write a comment...."
              name="CommentBody" #CommentBody="ngModel" [(ngModel)]="service.comment.CommentBody" style="resize: none;"></textarea>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-sm">Comment</button>
            </div>
          </div>
        </form>
        
        <br>
        <mdb-card-body *ngFor="let comment of service.comments">
          <mdb-card-title>
            <a routerLink="/Profile/{{comment.C_UserId}}">{{comment.CommentBy}}</a>
           
          </mdb-card-title>
      
          <mdb-card-text>
             {{getAgoTime(comment.CommentDate)}}
            <p id="agoTime"><i  class="fa fa-circle" aria-hidden="true"></i> {{agoTime}}</p>
            {{comment.CommentBody}}

            <div *ngFor="let like of service.likes">
              <p *ngIf="service.formData.PostId==like.PostId && like.UserId==userid">
                {{liked()}}
              </p>
            </div>
            <div class="form-group">
              <table>
                  <tr id="btnPost">
                      <td id="">
                          <button class="" name="Like" class="btn btn-sm" (click)="checkId(service.formData.PostId)"
                          type="button" >Like</button>
                      </td>
                      <td id="LikeBtn"><button type="button" class="btn btn-sm">Reply</button></td>
                  </tr>
              </table>
          </div>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>