#Liked{
    background-color:Green;
    color: red;
    font-weight: bolder;
}
#privacy{
    width:70px;
}

#privacyTxt{
    font-size: 12px;
    color:rgb(124, 124, 124);
}

#agoTime{
    font-size: 7px;
    margin-left: 5px;
}

#thumbs{
    color:springgreen;
}

#comment{
    color:springgreen;
}
#PostBody{

    font-size: 18px;
}

#LikeBtn{
    padding-left: 15px;
}
.form-outline #Yeshidden{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
#seeMore{
    cursor: pointer;
    cursor: hand;
}

#seeMore:hover{
    color:rgb(26, 146, 243)
}
#err{
    color:white;
   background-color: coral;
   padding:20px;
}

#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }

  .modal-dialog {
    /* width: 800px; */
    height: 700px;
 }

.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }

 #postmaker{
     border-radius: 60px;
     padding-top: 15px;
     padding-left: 25px;
     padding-right: 25px;
 }

 #modal{
     margin-top: 80px;
 }
 textarea{
     color:indigo;
     resize: none;
 }
 .relative{
     width:100%;
 }

 #edit{
     font-weight: 700;
     text-decoration: none;
 }

 #bio{
     color:grey;
 }

 h4 i{
    padding: 10px 10px;
    border-radius: 40px;
  }
 h4 i:hover{
    background-color:#CFD8DC;
    color:blue;
    cursor: pointer;
    cursor: hand;
  }

  .dropdown-menu{
    background-color:#d5d8da;
    max-width: 50px;
    position: absolute;
    margin-left: -120px;
  }

  #profilePicBtn{
    color: blue;
    background-color:#CFD8DC;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  /* #profilePic:hover{
    color: blue;
} */

#Loading{
    text-align: center;
  }