 mdb-card-img{
    
    border-radius: 400px;
}
.form-outline #Yeshidden{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
#seeMore{
    cursor: pointer;
    cursor: hand;
}

#seeMore:hover{
    color:rgb(26, 146, 243)
}