<app-navbar></app-navbar>
<br>


<mdb-card class="text-center">
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><mdb-card-img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img></div>
        <div class="col-md-4"></div>
    </div>
    
    <mdb-card-body>
      <mdb-card-title>
        <h2>{{ service.formData.Name }}</h2>
        <p>{{ service.formData.Bio }}</p>
      </mdb-card-title>
  
      <mdb-card-text >
      </mdb-card-text>
    
      <button routerLink="/Edit-Profile" mdbBtn color="primary" mdbWavesEffect>Edit<i class="fas fa-pencil-alt"></i></button>
      <br>
      
    
    </mdb-card-body>
  </mdb-card>



  

<form #form="ngForm">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <mdb-card class="text-left">
                        <br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <p ><i class="fa fa-clock-o" aria-hidden="true">
                                    </i> Joined <b>{{service.formData.JoinDate}}</b>
                                </p>

                                <p *ngIf="service.formData.PresentAddress != ''">
                                    <i class="fa fa-home" aria-hidden="true"></i> Present Address <b>{{service.formData.PresentAddress}}</b>
                                </p>

                                <p *ngIf="service.formData.College != ''">
                                    <i class="fa fa-university" aria-hidden="true"></i> College <b>{{service.formData.College}}</b>
                                </p>

                                <p *ngIf="service.formData.Graduation != ''">
                                    <i class="fa fa-university" aria-hidden="true"></i> University <b>{{service.formData.Graduation}}</b>
                                </p>

                                <p *ngIf="service.formData.Relationship != ''">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i> Relationship <b>{{service.formData.Relationship}}</b>
                                </p>

                                <p *ngIf="service.formData.PostGraduation != ''">
                                    <i class="fa fa-university" aria-hidden="true"></i> PostGraduation <b>{{service.formData.PostGraduation}}</b>
                                </p>

                                <div class="col-md-5">
                                    <p id="seeMore"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> See more about you</p>
                                </div>
                                </div>
                                
                            <div class="col-md-3"></div>
                        </div>
                        
                        <mdb-card-body>
                          <mdb-card-title>
                           
                          </mdb-card-title>
                      
                          <mdb-card-text >
                          </mdb-card-text>
        
                        </mdb-card-body>
                      </mdb-card>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>
<br><br>