<app-navbar></app-navbar>
<br>
<!-- <div class="card">
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          Collapsible Group Item #2 <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
        3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
        accusamus labore sustainable VHS.
      </div>
    </div>
  </div> -->

<!-- Nav tabs -->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs pills-primary white'" [contentClass]="''">
    <!--Panel 1-->
    <mdb-tab heading="Active">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
            placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="Link1">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
            placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
            placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 3-->
    <mdb-tab heading="Link2">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
            placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 4-->
    <mdb-tab heading="Link3">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
            placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>



<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                    <h3 class="card-header primary-color white-text">General Information</h3>
                    </mdb-card-title>
                    <mdb-card-text> 
                    <form>       
                        <div class="modal-body mb-0">
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form8" class="form-control">
                                <label for="form8">Bio</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="password" id="form9" class="form-control form-control-sm">
                                <label for="form9">Hobby</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form10" class="form-control form-control-sm">
                                <label for="form10">Languages</label>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="md-form form-sm">
                                        <i class="fas fa-tag prefix"></i>
                                        <input type="text" id="form11" class="form-control form-control-sm">
                                        <label for="form11">Religion</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form form-sm">
                                        <i class="fas fa-tag prefix"></i>
                                        <input type="text" id="form111" class="form-control form-control-sm">
                                        <label for="form111">Gender</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form form-sm">
                                        <i class="fas fa-tag prefix"></i>
                                        <input type="text" id="form112" class="form-control form-control-sm">
                                        <label for="form112">Relationship</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form form-sm">
                                        <i class="fas fa-tag prefix"></i>
                                        <input type="text" id="form113" class="form-control form-control-sm">
                                        <label for="form113">Interest In</label>
                                    </div>
                                </div>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <textarea type="text" id="form12" class="md-textarea form-control form-control-sm" rows="3"></textarea>
                                <label for="form12">Your qutation</label>
                            </div>
                            <div class="text-center mt-1-half">
                                <button class="btn btn-info mb-2">Save <i class="fas fa-paper-plane ml-1"></i></button>
                            </div>
                        </div>    
                    </form>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<br>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                    <h3 class="card-header primary-color white-text">Educational Information</h3>
                    </mdb-card-title>
                    <mdb-card-text>
                    <form>      
                        <div class="modal-body mb-0">
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form8" class="form-control">
                                <label for="form8">School</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="password" id="form9" class="form-control form-control-sm">
                                <label for="form9">Higher School</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form10" class="form-control form-control-sm">
                                <label for="form10">College</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form10" class="form-control form-control-sm">
                                <label for="form10">Graduation</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form10" class="form-control form-control-sm">
                                <label for="form10">Post Graduation</label>
                            </div>
                            <div class="text-center mt-1-half">
                                <button class="btn btn-info mb-2">Save <i class="fas fa-paper-plane ml-1"></i></button>
                            </div>
                        </div>     
                    </form>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<br>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h3 class="card-header primary-color white-text">Address & Communication Information</h3>
                    </mdb-card-title>
                    <mdb-card-text>
                    <form>
                        <div class="modal-body mb-0">
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form8" class="form-control">
                                <label for="form8">Birth Place</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="password" id="form9" class="form-control form-control-sm">
                                <label for="form9">Present Address</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form10" class="form-control form-control-sm">
                                <label for="form10">Permanet Address</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="number" id="form10" class="form-control form-control-sm">
                                <label for="form10">Contact</label>
                            </div>
                            <div class="md-form form-sm">
                                <i class="fas fa-tag prefix"></i>
                                <input type="number" id="form10" class="form-control form-control-sm">
                                <label for="form10">Telephone</label>
                            </div>
                            <div class="text-center mt-1-half">
                                <button class="btn btn-info mb-2">Save <i class="fas fa-paper-plane ml-1"></i></button>
                            </div>
                        </div>    
                    </form>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>  
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br> <br>