input {
    border: none;
    outline: 0;
    border-bottom: 2px solid #03a8f45e;
    font-size: 1.4rem;
    color: #ccc;
          
  }

  #message{
        padding:20px;
        background-color: yellowgreen;
        font-size: large;
        color: white;
  }