
h2, h3 { 
    color: #444;
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: lighter;
}

a {
    cursor: pointer;
    cursor: hand;
}

#nav{
  background-color: white;
}
#nav #a {
    
    padding: 12px 20px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    margin-left: 5px;
    font-weight: 800;
    
  }
  #nav #a:visited, #a:link {
    color: #607D8B;
  }
  #nav #a:hover {
    color: #039be5;
    background-color: #CFD8DC;
    
  }
  #nav #a.active {
    color: #039be5;
    border-bottom: 3px solid blue;
  }

h3 i{
  padding: 12px 12px;
  margin-top: 10px;
  background-color: white;
  display: inline-block;
  border-radius: 40px;
  color:blue;
}

h3 i:hover{
  background-color:#CFD8DC;
}

.dropdown-menu{
  font-size: 17px;
}
.dropdown-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-nav-collapse {
  background-color: white!important;
}
/* .navbar:not(.top-nav-collapse) {
  background: transparent!important;
} */

#notifi{
  font-weight: 400;
  font-size: 16px;
}

#notifi:hover{
  color:white;
  background-color: rgb(117, 117, 117);
}
/* .d-none{
  padding: 5px 5px;
}
.d-none:hover{
  background-color: #CFD8DC;
} */