<br>
<div id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
          <h3 class="display-8 text-center">WE TOGETHER</h3>
        </div>
        <div class="col-md-8 text-center">
            <nav>
                <a routerLink="/Posts" routerLinkActive="active">Home</a>
                <a routerLink="/Register" routerLinkActive="active">Register</a>
                <a routerLink="/profile/me" routerLinkActive="active" >Profile</a>
                <a routerLink="/Group" routerLinkActive="active">Group</a>
                <a routerLink="" routerLinkActive="">Login</a>
                <a routerLink="/Logout" routerLinkActive="active">Logout</a>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
