
h2, h3 { 
    color: #444;
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: lighter;
}

a {
    cursor: pointer;
    cursor: hand;
}
nav a {
    padding: 20px 30px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    margin-left: 5px;
    
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
    
  }
  nav a.active {
    color: #039be5;
    border-bottom: 3px solid blue;
  }

h3 i{
  padding: 13px 20px;
  margin-top: 10px;
  background-color: white;
  display: inline-block;
  border-radius: 40px;
  color:blue;
}

.dropdown-menu{
  font-size: 17px;
}
.dropdown-item{
  padding-top: 10px;
  padding-bottom: 10px;
}