<br>
<div id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
          <h3 class="display-8 text-center">WE TOGETHER</h3>
        </div>
        <div class="col-md-8 text-center">
            <nav>
                <a routerLink="/Posts" routerLinkActive="active" (click)="refresh()">Home</a>
                <a routerLink="/Group" routerLinkActive="active">Group</a>
                <a *ngIf="error != 'hasError'" routerLink="/profile/me" routerLinkActive="active" >Profile</a>
                <a routerLink="/Notification" routerLinkActive="active">Notification</a>
                <a routerLink="" routerLinkActive="">Login</a>
                <a routerLink="/Logout" routerLinkActive="active">Logout</a>
            </nav>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-2">
      


          <!-- <mdb-card>
            <mdb-card-body>
          
            
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>
          
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
          
              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card> -->
              <ul class="nav navbar-nav nav-flex-icons ml-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="" id="" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                   
                    <span class="d-none d-md-inline-block"><h3><i class="fa fa-bell" aria-hidden="true"></i></h3></span>
                  </a>

                  <div class="dropdown-menu dropdown-menu-left dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    
                    <a class="dropdown-item" *ngFor="let notification of component.service.notificationList">
                      {{getAgoTime(notification.LikedDate)}}
                      <span>
                        <a routerLink="/Post-Details/{{notification.PostId}}" (click)="notifi()" style="text-decoration: none;"> <b>{{notification.LikedBy}} Liked your Post. </b>{{agoTime}}</a>
                      </span>
                    </a>
                    <!-- <a class="dropdown-item">
                      <span>Delete</span>
                    </a>
                    <a class="dropdown-item" >
                      <span>Save</span>
                    </a>
                    <a class="dropdown-item">
                      <span>Report</span>
                    </a> -->
                    
                    <!-- <a class="dropdown-item" href="#">
                      <span></span>
                    </a> -->
                  </div>
                </li>
                
              </ul>
              <!-- <i class="fa fa-bell pull-right" aria-hidden="true"></i> -->
          
        </div>
    </div>
</div>
