<br>
<div id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>

<nav id="nav" class="navbar navbar-expand-lg fixed-top scrolling-navbar text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3 class=" text-center">WE TOGETHER</h3>
      </div>
      <div class="col-md-8">
        <a id="a" routerLink="/Posts" routerLinkActive="active" (click)="refresh()"  title="Home">Home</a>
        <a id="a" routerLink="/Group" routerLinkActive="active" title="Group">Group</a>
        <a id="a" *ngIf="error != 'hasError'" routerLink="/profile/me" routerLinkActive="active" title="Profile">Profile</a>
        <a id="a" routerLink="/Notification" routerLinkActive="active" title="Notification">Notification</a>
        <a id="a" routerLink="" routerLinkActive="" title="Login">Login</a>
        <a id="a" routerLink="/Logout" routerLinkActive="active" title="Logout">Logout</a>
        <!-- <a id="a" routerLink="/Chart" routerLinkActive="active" title="Chart">Chart</a> -->


      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
          <ul class="nav navbar-nav nav-flex-icons ml-auto">
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="" id="" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="d-none d-md-inline-block"><h3><i class="fa fa-bell" aria-hidden="true"></i></h3></span>
            </a>
            <div class="dropdown-menu dropdown-menu-left dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <h4 ><b id="notifiLabel">Notifications</b> </h4>
              <hr>
              <a id="notifi" class="dropdown-item" *ngFor="let notification of component.service.notificationList">
                {{getAgoTime(notification.LikedDate)}}
               
                  <a *ngIf="notification.IsComment==0" id="notifiTxt"  routerLink="/Post-Details/{{notification.PostId}}" (click)="notifi(notification.PostId)" style="text-decoration: none;"> <b>{{notification.LikedBy}} Liked your Post. </b>{{agoTime}}</a>
                  <a *ngIf="notification.IsComment==1" id="notifiTxt" routerLink="/Post-Details/{{notification.PostId}}" (click)="notifi(notification.PostId)" style="text-decoration: none;"> <b>{{notification.LikedBy}} Commented on your Post. </b>{{agoTime}}</a>

               
              </a>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="col-md-1"></div> -->
  </div>
</div>
</nav>
<br><br><br>