
#Clicked{
    color:Green;
    font-weight: bolder;
}

#post{
    border:3px solid;
    padding: 10px;
    border-radius: 5px;
    border-color:indigo;
}
#privacy{
    width:70px;
}
#postbody{
    resize: none;
    width:400px;
    max-width:400px;
    height: 100px;
    border:3px solid;
    border-radius: 5px;
    border-color: gray;
}

#LikeBtn{
    padding-left: 15px;
}
#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }