
#Clicked{
    color:Green;
    font-weight: bolder;
}


#privacy{
    width:70px;
}
#PostBody{

    font-size: 18px;
}

#LikeBtn{
    padding-left: 15px;
}
#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }

  /* mdb-card{
      background-color: whitesmoke;
  } */