
#Liked{
    background-color:Green;
    color: red;
    font-weight: bolder;
}


#privacy{
    width:70px;
}

#privacyTxt{
    font-size: 12px;
    color:rgb(124, 124, 124);
}

#agoTime{
    font-size: 7px;
    margin-left: 5px;
}

#thumbs{
    color:springgreen;
}
#PostBody{

    font-size: 18px;
}

#LikeBtn{
    padding-left: 15px;
}
#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }

  /* mdb-card{
      background-color: whitesmoke;
  } */

#postOption:hover{
    background-color: rgb(219, 217, 212);
    border-radius: 20px;
}