<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">
                        Action
                    </th>
                    <th>
                        Post ID
                    </th>
                    <th>
                        Post Body
                    </th>
                    <th>
                        Post By
                    </th>
                    <th>
                        Post Date
                    </th>
                    <th>
                        Is Deleted
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of service.list">
                    <td (click)="getPostById(post)">
                        <i class="far fa-edit fa-lg text-primary"></i>
                    </td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                     </td>
                    <td>
                        {{ post.PostId }}
                    </td>
                    <td>
                        {{ post.PostBody }}
                    </td>
                    <td>
                        {{ post.PostBy }}
                    </td>
                    <td>
                        {{ post.PostDate }}
                    </td>
                    <td>
                        {{ post.IsDeleted }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
