<app-navbar></app-navbar>
<br>



<!-- <mdb-card>
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
  
     
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
  
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card> -->

<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    </div>
    <div class="col-md-2"></div>
  </div>
</div> -->
<!-- <mdb-card>
    <mdb-card-body>
  
      <mdb-card-title> -->
        <form #formPostSubmit="ngForm" (submit)="onSubmit(formPostSubmit)" *ngIf="error != 'hasError'">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <mdb-card style="padding: 30px;">
                      <mdb-card-title style="padding-left: 15px;">
                          <label><b>{{Name}} </b> </label>
                          <label *ngIf="service.formData.PostPrivacy=='Public'"> <i id="postprivacy" class="fa fa-globe" aria-hidden="true"></i></label>
                          <label *ngIf="service.formData.PostPrivacy=='Friends'"><i id="postprivacy" class="fa fa-users" aria-hidden="true"></i></label>
                          <label *ngIf="service.formData.PostPrivacy=='Only Me'"><i id="postprivacy" class="fa fa-lock" aria-hidden="true"></i></label>

                    
                          <select class="form-control form-control-sm" name="PostPrivacy"
                               id="privacy" #PostPrivacy="ngModel" [(ngModel)]="service.formData.PostPrivacy">
                                 <option Value="Public">Public</option>
                                  <option *ngFor="let PostPrivacy of PrivacyList"   Value="{{PostPrivacy}}">{{PostPrivacy}} </option>
                          </select>
                          <div class="md-form form-sm">
                            
                            <textarea type="text" id="PostBody" class="md-textarea form-control form-control-sm" rows="2"
                            name="PostBody" #PostBody="ngModel" [(ngModel)]="service.formData.PostBody"
                             placeholder="What's on your mind?"></textarea>
                             <button  id="register" [disabled]="form.invalid" type="submit" class="btn btn-primary btn-sm">
                              POST
                          </button>
                          </div>
                        </mdb-card-title>
                      <!-- <mdb-card-body>
                        <mdb-card-text>
                        </mdb-card-text>
                      </mdb-card-body> -->
                    </mdb-card>
              </div>
              <div class="col-md-2"></div>
          </div>
      </form>
      <br>
      <form #form="ngForm">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <div *ngFor="let post of service.list">
                
                <div *ngFor="let like of service.likes">
                <div *ngIf="post.PostId == like.PostId">
                  {{count()}}
                </div>
              </div>
              <div *ngFor="let comment of service.commentList">
                <p *ngIf="post.PostId==comment.PostId">
                  {{commented()}}
                </p>
              </div>
                  <div id="post" *ngIf="checker==true">
      
                      <mdb-card >
                          <mdb-card-body>
      
                            <mdb-card-title>
                             
                                <div class="row">
                                   <div class="col-md-5">
                                      {{postDate(post.PostDate)}}
                                      <label><b><a routerLink="/Profile/{{post.UserId}}"> {{ post.PostBy }}</a> </b></label>
                                      <p id=privacyTxt *ngIf="post.PostPrivacy=='Public'"> <i class="fa fa-globe" aria-hidden="true"></i> {{ post.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{service.agoTime}}</p>
                                      <p id=privacyTxt *ngIf="post.PostPrivacy=='Friends'"><i class="fa fa-users" aria-hidden="true"></i> {{ post.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{service.agoTime}}</p>
                                      <p id=privacyTxt *ngIf="post.PostPrivacy=='Only Me'"><i class="fa fa-lock" aria-hidden="true"></i> {{ post.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{service.agoTime}}</p>
                                      <!-- <p id=privacyTxt > <i class="fa fa-globe" aria-hidden="true"></i> {{ post.PostPrivacy }} <i id="agoTime" class="fa fa-circle" aria-hidden="true"></i> {{service.agoTime}}</p> -->
                                      
                                      
                                   </div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-1">
                                    <div id="postOption" class="text-center" (click)="optionClicked()"><h4><i  class="fa fa-ellipsis-h" aria-hidden="true"></i></h4></div>
                                  </div>
                              </div>
                                
                            </mdb-card-title>
      
                            <mdb-card-text>  
                            
                              <div class="form-group">
                                  <p>{{ post.PostBody }}</p>
                                  <div class="row">
                                    <div class="col-md-1" *ngIf="c>0">
                                     
                                        <b><i id="thumbs" class="fa fa-thumbs-up" aria-hidden="true"></i>  {{c}} </b>
                                     
                                    </div>
                                    <div class="col-md-1" *ngIf="comment_count>0">
                                     
                                        <b><i id="comment" class="fa fa-comment-o" aria-hidden="true"></i> {{comment_count}} </b>
                                     
                                    </div>
                                    <div class="col-md-4"></div>
                                  </div>
                                  
                                  
                              </div>
                              <div *ngFor="let like of service.likes">
                                <p *ngIf="post.PostId==like.PostId && like.UserId==userid">
                                  {{liked()}}
                                </p>
                              </div>
                             
                              <hr>
                              <div class="form-group">
                                  <table *ngIf="error != 'hasError'">
                                      <tr id="btnPost">
                                          <td>
                                              <button class="" name="Like" (click)="LikeClicked(post.PostId)"
                                              type="button" id={{txt}} >Like</button>
                                          </td>
                                          <td id="LikeBtn"><a routerLink="/Post-Details/{{post.PostId}}"><button type="button">Comment</button></a></td>
                                          <td id="LikeBtn"><button type="button">Share</button></td>
                                      </tr>
                                  </table>
                              </div>
                            </mdb-card-text>
      
                          </mdb-card-body>
                        </mdb-card>
                  </div>
                
                  <br>
                  {{unliked()}}
                  {{reset()}}
                  {{ckreset()}}
                  {{comment_reset()}}
              </div>
              <!-- <button type="button" (click)="printPdf(form)">Print ALL</button> -->
              <button mdbBtn color="primary" mdbWavesEffect printTitle="All Posts( )" printSectionId="print-section" ngxPrint>
                  Print
                </button>
      <br><br><br><br>
              <div id="print-section" hidden>
                  <div *ngFor="let post of service.list" id="post">
                    <div class="form-group">
                        <label><b>{{ post.PostBy }}</b></label>
                        <p>{{ post.PostPrivacy }}</p>
                    </div>
                    <div class="form-group">
                        <p>{{ post.PostBody }}</p>
                    </div>
                    <br><hr><br>
                </div>
              </div>
          </div>
          <div class="col-md-2"></div>
      </div>
    </form>
      <!-- </mdb-card-title>
  
      <mdb-card-text> 
        
      </mdb-card-text>
  
    </mdb-card-body>
  </mdb-card> -->




