<app-navbar></app-navbar>
<br>



<!-- <mdb-card>
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
    <mdb-card-body>
  
     
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>
  
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>
  
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card> -->

<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

    </div>
    <div class="col-md-2"></div>
  </div>
</div> -->
<mdb-card>
    <mdb-card-body>
  
      <mdb-card-title>
        <form #formPostSubmit="ngForm" (submit)="onSubmit(formPostSubmit)">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <mdb-card style="padding: 30px;">
                      <mdb-card-title style="padding-left: 15px;">
                          <label><b>{{Name}}</b></label>
                          
                          <select class="form-control form-control-sm" name="PostPrivacy"
                               id="privacy" #PostPrivacy="ngModel" [(ngModel)]="service.formData.PostPrivacy">
                                 <option    Value="Public">Public</option>
                                  <option   *ngFor="let PostPrivacy of PrivacyList"   Value="{{PostPrivacy}}">{{PostPrivacy}} </option>
                              </select>
                        </mdb-card-title>
                      <mdb-card-body>
                        <mdb-card-text> 
                          <textarea name="postbody" id="postbody" placeholder="What's on your mind?" 
                           #PostBody="ngModel" [(ngModel)]="service.formData.PostBody"></textarea>
                      
                        </mdb-card-text>
                        
                        <button id="register" [disabled]="form.invalid" type="submit" class="btn btn-primary">
                          POST
                      </button>
                     
                      </mdb-card-body>
                    </mdb-card>
              </div>
              <div class="col-md-3"></div>
          </div>
      </form>
      <br><br><br>
      <form #form="ngForm"></form>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <div *ngFor="let post of service.list">
                  <div id="post">
      
                      <mdb-card>
                          <mdb-card-body>
      
                            <mdb-card-title>
                              <label><b>{{ post.PostBy }}</b></label>
                              <!-- <a style="text-align: right;" class="btn btn-default" data-toggle="popover-click" data-content="Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.">Click me</a> -->
                            </mdb-card-title>
      
                            <mdb-card-text>  
                              <div class="form-group">
                              <p>{{ post.PostPrivacy }}</p>
                              </div>
                              <div class="form-group">
                                  <p>{{ post.PostBody }}</p>
                              </div>
                              <div class="form-group">
                                  <table>
                                      <tr id="btnPost">
                                          <td id="">
                                              <button class="" name="Like" (click)="clickEvent()"
                                              type="button" id={{txt}}>Like</button>
                                          </td>
                                          <td id="LikeBtn"><button type="button">Comment</button></td>
                                          <td id="LikeBtn"><button type="button">Share</button></td>
                                      </tr>
                                  </table>
                              </div>
                            </mdb-card-text>
      
                          </mdb-card-body>
                        </mdb-card>
                  </div>
                  <br>
              </div>
              <!-- <button type="button" (click)="printPdf(form)">Print ALL</button> -->
              <button mdbBtn color="primary" mdbWavesEffect printTitle="All Posts( {{ service.list.length }} )" printSectionId="print-section" ngxPrint>
                  Print
                </button>
      <br><br><br><br>
              <div id="print-section" hidden>
                  <div *ngFor="let post of service.list" id="post">
                    <div class="form-group">
                        <label><b>{{ post.PostBy }}</b></label>
                        <p>{{ post.PostPrivacy }}</p>
                    </div>
                    <div class="form-group">
                        <p>{{ post.PostBody }}</p>
                    </div>
                    <br><hr><br>
                </div>
              </div>
          </div>
          <div class="col-md-2"></div>
      </div>
      </mdb-card-title>
  
      <mdb-card-text> 
        
      </mdb-card-text>
  
    </mdb-card-body>
  </mdb-card>




