
#Liked{
    background-color:Green;
    color: red;
    font-weight: bolder;
}


#privacy{
    width:70px;
}

#privacyTxt{
    font-size: 12px;
    color:rgb(124, 124, 124);
}

#agoTime{
    font-size: 7px;
    margin-left: 5px;
}

#thumbs{
    color:springgreen;
}

#comment{
    color:springgreen;
}
#PostBody{

    font-size: 18px;
}

#LikeBtn{
    padding-left: 15px;
}
#btnPost button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-weight: bolder;
  }

  /* mdb-card{
      background-color: whitesmoke;
  } */

#postOption:hover{
    background-color: rgb(219, 217, 212);
    border-radius: 20px;
}

#postprivacy{
    margin-left: 5px;
}

.modal-dialog {
    /* width: 800px; */
    height: 700px;
 }
 
.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 }

 #postmaker{
     border-radius: 60px;
     padding-top: 15px;
     padding-left: 25px;
     padding-right: 25px;
 }

 #modal{
     margin-top: 140px;
 }
 textarea{
     color:indigo;
     resize: none;
 }
 .relative{
     width:100%;
 }